/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*prevent adjustments of font size after oreientation changes in IE on windows phone and ios*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*apply a natural box layout model to all elements*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*------------------- BODY ----------------------*/
body {
  font-family: "Merienda", cursive;
  font-weight: 400;
  font-size: 14px; }

/*------------------- HEADER ----------------------*/
header {
  background-color: white;
  position: fixed;
  z-index: 5;
  width: 100%; }

header #logo {
  margin: 1%;
  text-align: center; }

header #logo img {
  width: 3.5rem;
  animation-name: showText;
  animation-duration: 5s;
  animation-fill-mode: forwards; }

header .menuIcon {
  position: absolute;
  top: 1rem;
  right: 0;
  cursor: pointer;
  transition: .3s; }

.menuIcon:hover div {
  background-color: #388187; }

header .menuIcon div {
  width: 1.3rem;
  height: .1rem;
  margin: .2rem;
  border-radius: 5px;
  background-color: #66b9bf; }

.rotateIcon {
  width: .3rem;
  transform-origin: bottom left;
  transform: rotate(-90deg); }

.navBar {
  width: 100%;
  text-align: center;
  position: absolute;
  right: -2000px;
  background-color: white;
  background-image: linear-gradient(to bottom right, #66b9bf, #47a4ab);
  transition: .5s linear; }
  .navBar ul li {
    padding: .3rem;
    list-style: none;
    font-weight: bold; }
  .navBar ul li:hover {
    background-color: white; }
  .navBar ul a:hover li {
    color: #66b9bf; }
  .navBar a {
    text-decoration: none;
    color: white; }

.showNavBar {
  right: 0; }

/*------------------- MAIN ----------------------*/
main {
  padding-top: 3rem; }

/*------------------BANNER----------------------*/
.banner {
  position: relative;
  text-align: center; }

.banner img:last-child {
  opacity: 0;
  width: 60%;
  position: relative;
  top: -30px;
  animation-name: showText;
  animation-duration: 5s;
  animation-fill-mode: forwards; }

@keyframes showText {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*----------------- SLIDE SHOW ------------------*/
@keyframes fader {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.banner {
  margin-top: 1rem; }

.banner img {
  width: 100%; }

#slide div, #slide img {
  animation-name: fader;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-direction: alternate; }

#slide {
  width: 100%;
  text-align: center;
  background-color: #fedcd2;
  z-index: -5; }

#slide .info {
  width: 90%;
  margin: 2% auto;
  line-height: 1rem; }
  #slide .info h3 {
    font-size: 1rem;
    margin-bottom: .3rem; }

#slide img {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

#slide i {
  color: #827775;
  background-color: #ebe8e8;
  border: 2px solid #66b9bf;
  font-size: 1.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  text-align: center;
  padding: .2rem 0;
  margin: 2%;
  transition: .3s linear; }

#slide a:hover i {
  width: 4.5rem;
  border-radius: 0 10px 0 10PX;
  background-color: white; }

#slide a:hover i::before {
  content: 'Visit!';
  color: #4c4645; }

/*---------------HOME CONTENT-----------*/
.content {
  margin: 2% auto;
  padding: 0 1rem;
  text-align: right;
  line-height: 1.5rem;
  position: relative; }

.content h1 {
  font-size: 1.8rem;
  color: #66b9bf;
  padding: .5rem 0;
  display: inline-block;
  background-color: white;
  margin: .5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px lightgray;
  letter-spacing: 5px; }

.content .deco-line {
  border-bottom: 2px dotted #dcb239;
  position: absolute;
  top: 1.8rem;
  margin: 0;
  padding: 0;
  width: 94%;
  z-index: -5; }

.content div {
  text-align: center; }

/*--------------OPEN HOUR-------------*/
.openHours {
  margin: 2% auto;
  padding: 0 1rem;
  text-align: right;
  position: relative; }
  .openHours h3 {
    font-size: 1.2rem;
    color: #66b9bf;
    padding: .5rem 0;
    display: inline-block;
    background-color: white;
    margin: .5rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px lightgray;
    letter-spacing: 2px; }
  .openHours .deco-line {
    border-bottom: 2px dotted #dcb239;
    position: absolute;
    top: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 94%;
    z-index: -5; }

.location .grid div:first-child {
  line-height: 1.1rem;
  text-align: left;
  margin-left: 10%;
  position: relative;
  font-size: .9rem; }
  .location .grid div:first-child span {
    position: absolute;
    left: 50%; }

/*---------GOOGLE MAP GOES HERE-----------*/
#map {
  width: 100%;
  height: 9rem;
  text-align: center;
  border: 2px solid #dcb239;
  margin: 1rem auto;
  background-image: url("../images/map-bakup.png");
  background-repeat: no-repeat;
  background-size: cover; }

/*---------------CONTACT US----------------*/
.contact {
  margin: 2% auto;
  padding: 0 1rem;
  text-align: right;
  position: relative; }
  .contact h3 {
    font-size: 1rem;
    color: #66b9bf;
    padding: .5rem 0;
    display: inline-block;
    background-color: white;
    margin: .5rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px lightgray;
    letter-spacing: 2px; }
  .contact .deco-line {
    border-bottom: 2px dotted #dcb239;
    position: absolute;
    top: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 94%;
    z-index: -5; }

.address {
  font-size: .8rem;
  line-height: 1.2rem;
  position: relative; }
  .address i {
    position: relative;
    right: 1rem;
    color: #66b9bf; }

.media {
  clear: left;
  width: 100%; }

.media ul {
  width: 100%;
  list-style: none;
  text-align: center;
  margin: .7rem auto; }

.media ul li {
  display: inline-block;
  cursor: pointer;
  margin: 0 4%; }

.media ul li i {
  font-size: 1.2rem;
  border: 2px solid #dcb239;
  color: #827775;
  text-align: center;
  border-radius: 50%;
  background-color: #aedadd;
  padding: .1rem 0;
  height: 1.8rem;
  width: 1.8rem;
  transition: .3s; }

.media ul li:hover i {
  color: #295f63;
  background-color: white; }

/*---------FOOTER-----------*/
footer {
  background-color: #66b9bf;
  margin-top: 1rem;
  padding: .3rem;
  color: gainsboro;
  position: relative;
  font-size: .7rem;
  clear: both; }
  footer span {
    position: absolute;
    right: .2rem; }

/*---------------ABOUT US HTML--------------*/
#aboutUs {
  margin-top: 1.5rem; }

.forLogoImg {
  shape-outside: circle();
  clip-path: circle();
  height: 10rem;
  width: 10rem;
  float: left;
  position: relative;
  border-radius: 50%;
  border: solid .5rem transparent; }
  .forLogoImg img {
    position: relative;
    width: 90%;
    top: 1rem; }

.forCakeTowerImg img {
  width: 60%; }

.clientLogo ul li {
  float: left;
  width: 50%;
  margin: .5rem auto;
  list-style: none; }
.clientLogo img {
  width: 75%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(190, 190, 190, 0.657);
  border: 2px solid #dcb3399b;
  transition: .3s; }
.clientLogo ul li:hover img {
  transform: scale(1.2);
  border: 3px dotted #dcb239;
  cursor: pointer; }

/*---------------OUR RANGES----------*/
.shoppingCart {
  position: relative;
  z-index: 10; }
  .shoppingCart #cartIcon {
    position: fixed;
    top: 1.3rem;
    left: 2%; }
  .shoppingCart #cartIcon::after {
    content: '\f291';
    position: absolute;
    top: 0;
    font-family: 'Font Awesome 5 Free';
    font-size: 1.2rem;
    font-weight: 700;
    color: #66b9bf; }
  .shoppingCart #cartCount {
    position: absolute;
    top: -0.6rem;
    right: -1.9rem;
    width: 2rem;
    text-align: center; }
  .shoppingCart #showCart {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 5rem;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: lightblue; }

#cakeList {
  padding: .5rem 1rem;
  border-radius: 10px;
  width: 80%;
  letter-spacing: .1rem;
  background-color: #fedcd2;
  font-family: "Merienda", cursive;
  color: #827775; }

#showCake h2 {
  font-size: 1.2rem;
  color: #66b9bf;
  padding: .5rem 0;
  margin: .5rem;
  border-bottom: 2px dotted #dcb239; }

/*--------------FLAG TITLE----------*/
.flag {
  width: 90%;
  margin: 2rem auto 0 auto;
  box-sizing: content-box;
  padding: .5rem 0;
  font-size: 1rem;
  position: relative;
  color: white;
  text-align: center;
  letter-spacing: .05rem;
  background-image: linear-gradient(to right, #66b9bf, #47a4ab);
  clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 5% 120%, 0 100%); }

.flag::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -20px;
  right: 0;
  background-image: linear-gradient(to right, #66b9bf, #295f63), linear-gradient(to right, gray, lightgray);
  background-repeat: no-repeat;
  background-size: 5%, auto; }

/*EACH CAKE*/
.item .wrapper {
  border: 2px #dcb239 dotted;
  border-top: transparent;
  width: 70%;
  margin: 0 auto;
  box-shadow: 3px 3px 3px lightgrey; }
.item .cakeImg {
  margin: .2rem auto; }
.item .cakeImg img {
  width: 95%; }
.item .infoBtn, .item .addToCartBtn {
  display: inline-block;
  padding: .5rem;
  cursor: pointer; }
.item .infoBtn i, .item .addToCartBtn i {
  font-size: 1.2rem;
  border: 2px solid #dcb239;
  color: #827775;
  text-align: center;
  border-radius: 50%;
  background-color: #aedadd;
  padding: .2rem 0;
  height: 1.8rem;
  width: 1.8rem;
  transition: .3s; }
.item .infoBtn:hover i, .item .addToCartBtn:hover i {
  color: #295f63;
  background-color: white; }

/*-------- Search box --------*/
input[name=searchBar] {
  width: .5em;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  background-color: white;
  background-image: url("../images/searchIconSmall.png");
  background-position: 0px 4px;
  background-repeat: no-repeat;
  margin: .5rem 0;
  padding: 10px 0px 10px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; }

input[name=searchBar]:focus {
  width: 80%;
  background-color: #d2eaec;
  color: #295f63;
  border: 2px dotted #dcb239;
  background-image: url("../images/searchIconSmall.png"); }

/*-------CAKE'S INFORMATION BOX------*/
.infoBox {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 25;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #fedcd2; }

.infoContent {
  border: 2px dotted #dcb239;
  background-color: white;
  margin: 2% auto;
  position: relative;
  padding: 1rem;
  width: 85%; }

.infoContent img {
  width: 80%; }

.infoContent .closeBtn {
  float: right;
  cursor: pointer;
  color: #66b9bf;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 10px; }

/*--------style rating stars--------------*/
.starsOuter {
  display: inline-block;
  position: relative;
  font-family: FontAwesome; }

.starsOuter::before {
  content: "\f006 \f006 \f006 \f006 \f006"; }

.starsInner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden; }

.starsInner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b; }

@media only screen and (min-width: 35rem) {
  body {
    font-size: 15px; }

  /*------------------ HEADER -----------------*/
  #logo {
    margin: 0; }

  header #logo img {
    width: 5rem; }

  /*------------------ NAVIGATION -----------------*/
  .menuIcon {
    display: none; }

  .navBar {
    width: 100%;
    text-align: center;
    position: relative;
    right: 0;
    transition: .5s linear;
    background-color: transparent; }
    .navBar ul {
      text-align: center;
      position: relative;
      background-color: white; }
    .navBar ul li {
      display: inline-block;
      color: #66b9bf;
      padding: .5rem .8rem;
      transition: .3s;
      font-size: 1rem; }
    .navBar ul li:hover {
      border-bottom: 2px dotted #dcb239; }
    .navBar ul a:hover li {
      color: #dcb239; }

  /*-------BANNER-------------*/
  .banner img:first-child {
    top: 25px; }

  .banner img:last-child {
    top: -45px; }

  /*--------------HOME CONTENT ----------*/
  .content {
    width: 90%;
    padding: 1rem; }
    .content h1 {
      clear: both; }
    .content .deco-line {
      width: 100%;
      top: 2.9rem; }

  /*--------------SLIDE SHOWS------------*/
  .banner img {
    width: 100%; }

  .banner {
    margin-top: 2rem; }

  #slide {
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    align-items: center; }
    #slide .info {
      line-height: 1.5rem; }

  /*-------------ABOUT US-----------------*/
  #aboutUs {
    margin-top: 4rem;
    position: relative; }

  .forCakeTowerImg {
    float: right;
    shape-outside: polygon(10% 100%, 40% 0, 65% 0, 100% 90%);
    clip-path: polygon(10% 100%, 40% 0, 65% 0, 90% 100%); }
    .forCakeTowerImg img {
      width: 50%; }

  /*---------------OPEN HOURs------------*/
  .location .grid {
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    align-items: center;
    background-color: #fedcd2;
    margin: 0 auto 1.5rem auto; }

  .location .grid div:first-child {
    line-height: 1.5rem;
    margin: .5rem 0;
    padding: 0;
    text-align: center; }
    .location .grid div:first-child span {
      position: relative;
      left: 1rem; }

  /*---MAP---*/
  #map {
    margin: 0;
    height: 11.6rem; }

  /*-------------CONTACT AREA------------*/
  .contact .grid {
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    align-items: center; }
  .contact .address {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center; }

  /*-----------SOCIAL MEDIA---------*/
  .media ul {
    text-align: center; }

  .media ul li i {
    font-size: 1.6rem;
    padding: .2rem 0;
    height: 2.2rem;
    width: 2.2rem; }

  /*-----------FOOTER--------*/
  footer {
    padding: 1em .5rem;
    font-size: .7rem; }

  /*--------------About us-------------*/
  .forLogoImg img {
    position: relative;
    top: 2rem;
    width: 90%; }

  .clientLogo ul li {
    width: 25%; }
  .clientLogo img {
    width: 80%; }

  /*OUR RANGES*/
  #ourRange {
    margin-top: 5rem; }

  .navBar ul li {
    padding: .5rem 1rem; }

  input[name=searchBar] {
    width: 80%; }

  /*------------FLAG------------------*/
  .item {
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 1rem; }
    .item .wrapper {
      border: 2px #dcb239 dotted;
      border-top: transparent;
      margin: 0 auto;
      box-shadow: 3px 3px 3px lightgrey; }
    .item .cakeImg {
      margin: .2rem auto; }
    .item .cakeImg img {
      width: 95%; }

  /*------------INFORMATION OF EACH CAKE*/ }
/*end media query*/
@media only screen and (min-width: 60rem) {
  /*------------------- BODY ----------------*/
  /*------------------- NAVIGATION ----------------*/
  /*------------------- MAIN ----------------*/
  /*-------------BANNER--------------*/
  .banner img:first-child {
    top: 35px; }

  .banner img:last-child {
    top: -90px; }

  /*-----------------HOME CONTENT------------*/
  .content div {
    font-size: 1rem;
    line-height: 2em; }

  #slide .info {
    width: 70%;
    line-height: 2rem; }

  /*-------------ABOUT US------------*/
  .forLogoImg {
    height: 15rem;
    width: 15rem;
    position: relative; }
    .forLogoImg img {
      position: relative;
      top: 1rem;
      width: 80%; }

  .clientLogo img {
    width: 60%; }

  /*OUR RANGE*/
  #ourRange {
    margin-top: 7rem; }

  .navBar ul li {
    padding: .5rem 3rem; } }
/*end media query*/
