/*------------------- BODY ----------------*/




/*------------------- NAVIGATION ----------------*/


/*------------------- MAIN ----------------*/
/*-------------BANNER--------------*/
.banner img:first-child{
    top: 35px;
}
.banner img:last-child{
    top: -90px;
}
 /*-----------------HOME CONTENT------------*/
 //slide show   
 .content div{
    font-size: 1rem;
    line-height: 2em;
 }   
 #slide .info{
    width: 70%;
    line-height: 2rem;
} 
/*-------------ABOUT US------------*/
.forLogoImg{  
   
   height: 15rem;
   width: 15rem;
   position: relative;
     
     img{
         position: relative;
         top: 1rem;
         width: 80%;
     }
   
 }
 .clientLogo{
    img{
        width: 60%;
    }
}

/*OUR RANGE*/
#ourRange{
    margin-top: 7rem;
}
.navBar ul li {
    padding: .5rem 3rem;
}