/*------------------- BODY ----------------*/
// body{
//     color: blue;
// }

/*------------------- NAVIGATION ----------------*/
.navBar ul li {
    padding: .5rem 3rem;
    font-size:1.4rem;
}

/*------------------- MAIN ----------------*/
/*-------------BANNER--------------*/
.banner img:first-child{
    top: 35px;
}
.banner img:last-child{
    top: -90px;
}
 /*-----------------HOME CONTENT------------*/
 //slide show   
 .content div{
    font-size: 1rem;
    line-height: 2em;
 }   
 .info{
    line-height: 1.5rem;
    
  }

  
 #slide .info{
    width: 70%;
    line-height: 2rem;
    font-size: 1.2rem;
}
#slide .info h3 {
    font-size: 1.7rem;
    margin-bottom: .7rem;
}
/*-------------ABOUT US------------*/
#aboutUs{
    margin-top:8rem;
}
.forLogoImg{  
   
   height: 15rem;
   width: 15rem;
   position: relative;
     
     img{
         position: relative;
         top: 1rem;
         width: 80%;
     }
   
 }
 .clientLogo{
    img{
        width: 60%;
    }
}

/*OUR RANGE*/
#ourRange{
    margin-top: 9rem;
}
.infoContent {
    width: 70%;
    padding:1rem;
}
#showCake .infoContent .cakeImg img{
    width: 30%;
}
.item{
    position: relative;
    float: left;
    width: 33.33%;
    margin-bottom: 1rem;
}

/*CONTACT US HTML*/
#contact_form #contactSubmitBtn{
    width: 30%;
}