/*------------------- BODY ----------------*/




/*------------------- NAVIGATION ----------------*/


/*------------------- MAIN ----------------*/
/*slide show*/

 /*-----------------HOME CONTENT------------*/
 //slide show   
 #home div{
    font-size: 1rem;
    line-height: 2em;
 }   
 #slide .info{
    width: 70%;
    line-height: 2rem;
} 
