body{
    font-size: 15px;
}

/*------------------ HEADER -----------------*/
#logo{
    margin: 0;
}
header #logo img{
    width: 5rem;
    transition: .5s ease-in-out;   
 }
.shrinkLogo{
    width: 1.5rem;
    margin:0;
}
/*------------------ NAVIGATION -----------------*/
.shoppingCart #cartIcon{
    z-index: 10;
}
.menuIcon{
    display: none;
}
.navBar{
    width:100%;
    text-align: center;    
    position: relative;
    right: 0;
    transition: .5s linear; 
    background-color: transparent;

    ul{
        text-align: center;
        position: relative;
        background-color: white;
    }
    ul li{
        display: inline-block;
        color: $primaryColor;
        padding: .5rem .8rem;
        transition: .3s;
        font-size: 1rem;       
    }

    ul li:hover{
        border-bottom: 2px dotted $lemonColor;

    }
    ul a:hover li{
        color: $lemonColor;
    }
    
}
/*-------BANNER-------------*/
.banner img:first-child{
    top: 25px;
}
.banner img:last-child{
    top: -45px;
}

/*--------------HOME CONTENT ----------*/
.content {
    width: 90%;
    padding:1rem;
    
    h1{
        clear:both;
    }

    .deco-line {
        width:100%;
        top:2.9rem;
    }
}
/*--------------SLIDE SHOWS------------*/
.banner img{
    width:100%;
}
.banner {
    margin-top: 2rem;
}
#slide {
  display: grid;
  grid-template-columns: repeat(2, 50% 50%);
  align-items: center;
  
  .info{
    line-height: 1.5rem;
  }
  
}
/*-------------ABOUT US-----------------*/
#aboutUs{
    margin-top: 4rem;
    position: relative;
}

.forCakeTowerImg{
    float:right;
    
    // background-color: pink;
    shape-outside: polygon(10% 100%, 40% 0, 65% 0, 100% 90%);
    clip-path: polygon(10% 100%, 40% 0, 65% 0, 90% 100%);
    img{
        width: 50%;
    }
}


/*---------------OPEN HOURs------------*/
.location .grid{
    display:grid;
    grid-template-columns: repeat(2,50% 50%);
    align-items: center;
    background-color: $secondaryColor;
    margin: 0 auto 1.5rem auto;

}
.location .grid div:first-child{
    line-height: 1.5rem;
    margin:.5rem 0;
    padding:0;
    text-align: center;
    span{
        position: relative;
       left:1rem;
    }
}
/*---MAP---*/
#map{
    margin:0;
    height: 11.6rem;
}
/*-------------CONTACT AREA------------*/
.contact{

    .grid{
        display: grid;
        grid-template-columns: repeat(2,50% 50%);
        align-items: center;
    }

    .address{
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
    }
}
/*-----------SOCIAL MEDIA---------*/
.media ul{
   text-align: center;
}
.media ul li i{
    font-size: 1.6rem;
    padding: .2rem 0;
    height: 2.2rem;
    width: 2.2rem;
}

/*-----------FOOTER--------*/
footer{
  
    padding:1em .5rem;
    font-size: .7rem;
}


/*--------------About us-------------*/
.forLogoImg{
    img{
        position: relative;
        top: 2rem;
        width: 90%;
    }
}

.clientLogo{

    ul li{
        width: 25%;       
    }
    img{
        width: 80%;
    }
}

/*OUR RANGES*/
#ourRange{
    margin-top: 5rem;
}
.navBar ul li {
    padding: .5rem 1rem;
}
input[name=searchBar] {
    width: 80%;
    border-radius: 10px;
}

/*------------FLAG------------------*/
.item{
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 1rem;
}
/*------------INFORMATION OF EACH CAKE*/
.infoContent{
    height: 60%;
    width: 90%;
    margin: 10% auto;

    img{
        width: 100%;
        margin-right: 2rem;
    }
}
.infoBox{
    
    .cakeImg{
       float: left;
    }
   
}