$primaryColor: #66b9bf;
$secondaryColor: #fedcd2;
$lemonColor:#dcb239;
$fontColor: #827775;


$defaultFont: 'Merienda', cursive;
$boldWeight: 700;
$normalWeight:400;

//for create not a full screen photo
$gutter: 2%;
$gutterdbl: (2*$gutter)